/* body{
    margin:0;
    padding:0;
    background-color: #000000;
}

#siteLogo{
    width: 150px;
    height: auto;
    float: left;
}

.menuLink{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: inline;
    margin-right: 30px;
    float: inline-end;
}

#navitem{
    display: inline-block;
    margin-bottom: 100px;
}

.navigation{
    align-items: center;
} */

body{
    margin:0;
    padding:0;
    background-color: #000000;
}

#siteLogo{
    width: 120px;
    height: auto;
    float: left;
    margin-left: 0px;
}

.menuLink{
    color: #ffffff;
    text-decoration: none;
}

.nav-col:hover{
    background-color: #121212;
}

.menuItens{
    width:auto;
    margin: 0px;
}

.text-field-search{
    border-radius: 30px;
}

.nav-menu-row {
    width: 100%;
}

.nav-container{
    border-bottom: 1px solid whitesmoke;
    margin-top: 0;
}

#btn-add-client{
    float: right;
    background-color: #2f5bad;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding: 0;
}

#btn-close{
    background-color: #b02121;
}

#btn-insert{
    background-color: #278a26;
}

.input-field-modal{
    border-radius: 30px;
}